<html th:replace="~{/layout/layout :: Applayout(~{::title},~{::section})}" xmlns:th="http://www.thymeleaf.org">
<title>전남개발공사 - 멤버상세</title>
<section class="container">

    <div class="py-2 text-center">
        <h2>멤버 상세</h2>
    </div>

    <!-- 추가 -->
    <h2 th:if="${param.status}" th:text="'저장 완료'"></h2>

    <div>
        <label for="memberId">멤버 ID</label>
        <input type="text" id="memberId" name="memberId" class="form-control" value="1" th:value="${member.id}" readonly>
    </div>
    <div>
        <label for="memberName">멤버명</label>
        <input type="text" id="memberName" name="memberName" class="form-control" value="멤버A" th:value="${member.memberName}" readonly>
    </div>
    <div>
        <label for="group">조직</label>
        <input type="text" id="group" name="group" class="form-control" value="10000" th:value="${member.group}" readonly>
    </div>
    <div>
        <label for="grade">직급</label>
        <input type="text" id="grade" name="grade" class="form-control" value="10" th:value="${member.grade}" readonly>
    </div>

    <hr class="my-4">

    <div class="row">
        <div class="col">
            <button class="w-100 btn btn-primary btn-lg"
                    onclick="location.href='editForm.html'"
                    th:onclick="|location.href='@{/admin/members/{memberId}/edit(memberId=${member.id})}'|"
                    type="button">멤버 수정</button>
        </div>
        <div class="col">
            <button class="w-100 btn btn-secondary btn-lg"
                    onclick="location.href='members.html'"
                    th:onclick="|location.href='@{/admin/members}'|"
                    type="button">목록으로</button>
        </div>



    </div>

</section> <!-- /container -->

</html>