<html th:replace="~{/layout/layout :: Applayout(~{::title}, ~{::section})}" xmlns:th="http://www.thymeleaf.org">

<title>전남개발공사 - 직원 목록</title>

<section class="container">

    <div class="py-2 text-center">
        <h2>직원 목록</h2>
    </div>

    <div class="row">
        <div class="col">
            <button class="btn btn-primary float-end"
                    onclick="location.href='addForm.html'"
                    th:onclick="|location.href='@{/admin/members/add}'|"
                    type="button">직원 등록</button>
        </div>
    </div>

    <hr class="my-4">
    <div>
        <table class="table">
            <thead>
            <tr>
                <th th:text="#{label.member.id}">ID</th>
                <th th:text="#{label.member.name}">직원명</th>
                <th th:text="#{label.member.group}">조직</th>
                <th th:text="#{label.member.grade}">직급</th>
                <th class="text-center">삭제</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="member : ${members}">
                <td class="align-middle"><a href="member.html" th:href="@{/admin/members/{memberId}(memberId=${member.id})}" th:text="${member.id}">회원id</a></td>
                <td class="align-middle"><a href="member.html" th:href="@{|/admin/members/${member.id}|}" th:text="${member.memberName}">직원명</a></td>
                <td class="align-middle" th:text="${member.group}">10000</td>
                <td class="align-middle" th:text="${member.grade}">10</td>
                <td class="text-center">
                    <form action="member.html" th:action="@{|/admin/members/${member.id}/delete|}" method="post">
                            <button class="btn btn-danger text-center"
                                    type="submit">직원 삭제</button>
                    </form>
                </td>

            </tr>
            </tbody>
        </table>
    </div>



</section> <!-- /container -->



</html>
