<!doctype html>
<html th:fragment="Applayout (title,content)" xmlns:th="http://www.thymeleaf.org">
<head>
    <!--    공통-->
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

<!--    <link th:href="@{/css/fontawesome.all.min.css}" href="/css/fontawesome.css" rel="stylesheet">-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css"/>
    <link th:href="@{/css/bootstrap.min.css}" href="/css/bootstrap.min.css" rel="stylesheet">
    <link th:href="@{/css/layout.css}" href="/css/layout.css" rel="stylesheet">
    <link th:href="@{/css/common.css}" href="/css/common.css" rel="stylesheet">


    <script th:src="@{/js/jquery.js}" type="text/javascript" defer></script>
    <script th:src="@{/js/layout.js}" type="text/javascript" defer></script>


    <!--    개별-->
    <title th:replace="${title}">타이틀</title>

</head>
<body>


    <div class="app-wrapper">
        <header class="app-header">
            <button class="btn-back" onclick="window.history.back();"><i class="fa fa-angle-left"></i></button>
            <button class="btn-back" onclick="window.location.href = '/'"><div class="header-title">전남개발공사</div></button>
            <button data-toggle="sidebar" class="btn-sidebar" title="Toggle sidebar"><i class="fa fa-bars"></i></button>
        </header>

        <div class="app-body">
            <main class="app-main">
                <div class="page-content">

                    <div th:replace="${content}">
                        <p>레이아웃 컨텐츠</p>
                    </div>

                </div>
            </main>

            <div class="sidebar-overlay" data-close="sidebar"></div>
            <aside class="app-sidebar">
                <header class="sidebar-header">
                    <h2 class="sidebar-header__title">메뉴</h2>
                    <button data-close="sidebar" class="btn-close"><i class="fa fa-close"></i></button>
                </header>
                <div class="sidebar-body expandable">


                    <!--           누르면 밑으로 나오는..     -->
                    <!--                &lt;!&ndash; Filler &ndash;&gt;-->
                    <!--                <p class="placeholder-p" aria-hidden="true">-->
                    <!--                    <span>-&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45; &#45;&#45;&#45;&#45;&#45;&#45; &#45;&#45;&#45;&#45; -&#45;&#45; &#45;&#45;&#45;&#45; &#45;&#45;&#45;&#45; &#45;&#45; -&#45;&#45; &#45;&#45;&#45;&#45;&#45;&#45; -&#45;&#45; -&#45;&#45;&#45;&#45; -&#45;&#45;&#45;&#45;&#45;&#45; &#45;&#45;&#45;&#45;&#45;&#45; &#45;&#45;&#45;&#45;&#45;&#45; -&#45;&#45;&#45;&#45; &#45;&#45;&#45;&#45;&#45;&#45; &#45;&#45;&#45;&#45;&#45;&#45; &#45;&#45;&#45;&#45;&#45;&#45; &#45;&#45; -&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45; -&#45;&#45;&#45;&#45;&#45;&#45; -&#45;&#45;&#45;&#45; -&#45;&#45;&#45;&#45; -&#45;&#45;&#45;&#45;</span>-->
                    <!--                </p>-->
                    <!--                <div class="expandable__content">-->
                    <!--                    <p class="placeholder-p" aria-hidden="true">-->
                    <!--                        <span>-&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45; &#45;&#45;&#45;&#45;&#45;&#45; &#45;&#45;&#45;&#45; -&#45;&#45; &#45;&#45;&#45;&#45; &#45;&#45;&#45;&#45; &#45;&#45; -&#45;&#45; &#45;&#45; -&#45;&#45;&#45;&#45; &#45;&#45;&#45;&#45;&#45;&#45; -&#45;&#45; -&#45;&#45;&#45;&#45; -&#45;&#45;&#45;&#45;&#45;&#45; &#45;&#45;&#45;&#45;&#45;&#45; &#45;&#45;&#45;&#45;&#45;&#45; -&#45;&#45;&#45;&#45; &#45;&#45;&#45;&#45;&#45;&#45; &#45;&#45;&#45;&#45;&#45;&#45; &#45;&#45;&#45;&#45;&#45;&#45; &#45;&#45; -&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45; -&#45;&#45;&#45;&#45;&#45;&#45; -&#45;&#45;&#45;&#45; -&#45;&#45;&#45;&#45; -&#45;&#45;&#45;&#45; &#45;&#45;&#45;&#45; -&#45;&#45; &#45;&#45;&#45;&#45; -</span>-->
                    <!--                    </p>-->
                    <!--                    <div class="placeholder">-->
                    <!--                        <br/><br/><br/><br/><br/><br/><br/>-->
                    <!--                    </div>-->
                    <!--                    <p class="placeholder-p" aria-hidden="true">-->
                    <!--                        <span>-&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45; &#45;&#45;&#45;&#45;&#45;&#45; &#45;&#45;&#45;&#45; -&#45;&#45; &#45;&#45;&#45;&#45; &#45;&#45;&#45;&#45; &#45;&#45; -&#45;&#45; &#45;&#45;&#45;&#45;&#45;&#45; -&#45;&#45; -&#45;&#45;&#45;&#45; -&#45;&#45;&#45;&#45;&#45;&#45; &#45;&#45;&#45;&#45;&#45;&#45; &#45;&#45;&#45;&#45;&#45;&#45; -&#45;&#45;&#45;&#45; &#45;&#45;&#45;&#45;&#45;&#45; &#45;&#45;&#45;&#45;&#45;&#45; &#45;&#45;&#45;&#45;&#45;&#45; &#45;&#45; -&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45; -&#45;&#45;&#45;&#45;&#45;&#45; -&#45;&#45;&#45;&#45; -&#45;&#45;&#45;&#45; -&#45;&#45;&#45;&#45;</span>-->
                    <!--                    </p>-->
                    <!--                    <p class="placeholder-p" aria-hidden="true">-->
                    <!--                        <span>-&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45; &#45;&#45;&#45;&#45;&#45;&#45; &#45;&#45;&#45;&#45; -&#45;&#45; &#45;&#45;&#45;&#45; &#45;&#45;&#45;&#45; &#45;&#45; -&#45;&#45; &#45;&#45; -&#45;&#45;&#45;&#45; &#45;&#45;&#45;&#45;&#45;&#45; -&#45;&#45; -&#45;&#45;&#45;&#45; -&#45;&#45;&#45;&#45;&#45;&#45; &#45;&#45;&#45;&#45;&#45;&#45; &#45;&#45;&#45;&#45;&#45;&#45; -&#45;&#45;&#45;&#45; &#45;&#45;&#45;&#45;&#45;&#45; &#45;&#45;&#45;&#45;&#45;&#45; &#45;&#45;&#45;&#45;&#45;&#45; &#45;&#45; -&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45; -&#45;&#45;&#45;&#45;&#45;&#45; -&#45;&#45;&#45;&#45; -&#45;&#45;&#45;&#45; -&#45;&#45;&#45;&#45; &#45;&#45;&#45;&#45; -&#45;&#45; &#45;&#45;&#45;&#45; -</span>-->
                    <!--                    </p>-->
                    <!--                    <p class="placeholder-p" aria-hidden="true">-->
                    <!--                        <span>-&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45; &#45;&#45;&#45;&#45;&#45;&#45; &#45;&#45;&#45;&#45; -&#45;&#45; &#45;&#45;&#45;&#45; &#45;&#45;&#45;&#45; &#45;&#45; -&#45;&#45; &#45;&#45;&#45;&#45;&#45;&#45; -&#45;&#45; -&#45;&#45;&#45;&#45; -&#45;&#45;&#45;&#45;&#45;&#45; &#45;&#45;&#45;&#45;&#45;&#45; &#45;&#45;&#45;&#45;&#45;&#45; -&#45;&#45;&#45;&#45; &#45;&#45;&#45;&#45;&#45;&#45; &#45;&#45;&#45;&#45;&#45;&#45; &#45;&#45;&#45;&#45;&#45;&#45; &#45;&#45; -&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45; -&#45;&#45;&#45;&#45;&#45;&#45; -&#45;&#45;&#45;&#45; -&#45;&#45;&#45;&#45; -&#45;&#45;&#45;&#45;</span>-->
                    <!--                    </p>-->
                    <!--                    <div class="placeholder">-->
                    <!--                        <br/><br/><br/><br/><br/>-->
                    <!--                    </div>-->
                    <!--                    <p class="placeholder-p" aria-hidden="true">-->
                    <!--                        <span>-&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45; &#45;&#45;&#45;&#45;&#45;&#45; &#45;&#45;&#45;&#45; -&#45;&#45; &#45;&#45;&#45;&#45; &#45;&#45;&#45;&#45; &#45;&#45; -&#45;&#45; &#45;&#45; -&#45;&#45;&#45;&#45; &#45;&#45;&#45;&#45;&#45;&#45; -&#45;&#45; -&#45;&#45;&#45;&#45; -&#45;&#45;&#45;&#45;&#45;&#45; &#45;&#45;&#45;&#45;&#45;&#45; &#45;&#45;&#45;&#45;&#45;&#45; -&#45;&#45;&#45;&#45; &#45;&#45;&#45;&#45;&#45;&#45; &#45;&#45;&#45;&#45;&#45;&#45; &#45;&#45;&#45;&#45;&#45;&#45; &#45;&#45; -&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45; -&#45;&#45;&#45;&#45;&#45;&#45; -&#45;&#45;&#45;&#45; -&#45;&#45;&#45;&#45; -&#45;&#45;&#45;&#45; &#45;&#45;&#45;&#45; -&#45;&#45; &#45;&#45;&#45;&#45; -</span>-->
                    <!--                    </p>-->
                    <!--                    <p class="placeholder-p" aria-hidden="true">-->
                    <!--                        <span>-&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45; &#45;&#45;&#45;&#45;&#45;&#45; &#45;&#45;&#45;&#45; -&#45;&#45; &#45;&#45;&#45;&#45; &#45;&#45;&#45;&#45; &#45;&#45; -&#45;&#45; &#45;&#45;&#45;&#45;&#45;&#45; -&#45;&#45; -&#45;&#45;&#45;&#45; -&#45;&#45;&#45;&#45;&#45;&#45; &#45;&#45;&#45;&#45;&#45;&#45; &#45;&#45;&#45;&#45;&#45;&#45; -&#45;&#45;&#45;&#45; &#45;&#45;&#45;&#45;&#45;&#45; &#45;&#45;&#45;&#45;&#45;&#45; &#45;&#45;&#45;&#45;&#45;&#45; &#45;&#45; -&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45; -&#45;&#45;&#45;&#45;&#45;&#45; -&#45;&#45;&#45;&#45; -&#45;&#45;&#45;&#45; -&#45;&#45;&#45;&#45;</span>-->
                    <!--                    </p>-->
                    <!--                    <p class="placeholder-p" aria-hidden="true">-->
                    <!--                        <span>-&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45; &#45;&#45;&#45;&#45;&#45;&#45; &#45;&#45;&#45;&#45; -&#45;&#45; &#45;&#45;&#45;&#45; &#45;&#45;&#45;&#45; &#45;&#45; -&#45;&#45; &#45;&#45; -&#45;&#45;&#45;&#45; &#45;&#45;&#45;&#45;&#45;&#45; -&#45;&#45; -&#45;&#45;&#45;&#45; -&#45;&#45;&#45;&#45;&#45;&#45; &#45;&#45;&#45;&#45;&#45;&#45; &#45;&#45;&#45;&#45;&#45;&#45; -&#45;&#45;&#45;&#45; &#45;&#45;&#45;&#45;&#45;&#45; &#45;&#45;&#45;&#45;&#45;&#45; &#45;&#45;&#45;&#45;&#45;&#45; &#45;&#45; -&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45; -&#45;&#45;&#45;&#45;&#45;&#45; -&#45;&#45;&#45;&#45; -&#45;&#45;&#45;&#45; -&#45;&#45;&#45;&#45; &#45;&#45;&#45;&#45; -&#45;&#45; &#45;&#45;&#45;&#45; -</span>-->
                    <!--                    </p>-->
                    <!--                </div>-->

                    <!--                <button class="expandable__button" data-toggle="more">-->
                    <!--                    <i class="more fa fa-angle-down"></i>-->
                    <!--                    <i class="less fa fa-angle-up"></i>-->
                    <!--                </button>-->
                </div>
            </aside>

        </div>

        <footer class="app-mobile-footer">
            <div class="footer-menu">
                <button onclick="window.location.href = '/'" class="footer-menu__item"><i class="fa fa-home"></i></button>
                <button class="footer-menu__item"><i class="fa fa-flag-o"></i></button>
                <button class="footer-menu__item"><i class="fa fa-user"></i></button>
                <button class="footer-menu__item"><i class="fa fa-envelope"></i></button>
                <button class="footer-menu__item"><i class="fas fa fa-bars"></i></button>
            </div>
        </footer>
    </div>
</body>
</html>

