<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <link th:href="@{/css/bootstrap.min.css}"
          href="../css/bootstrap.min.css" rel="stylesheet">
    <style>
        .container {
            max-width: 560px;
        }
    </style>
</head>
<body>

<div class="container">

    <div class="py-5 text-center">
        <h2>멤버 등록 폼</h2>
    </div>

    <h4 class="mb-3">멤버 입력</h4>

    <form action="member.html" th:action method="post">
        <div>
            <label for="memberName">멤버명</label>
            <input type="text" id="memberName" name="memberName" class="form-control" placeholder="이름을 입력하세요">
        </div>
        <div>
            <label for="group">조직</label>
            <input type="text" id="group" name="group" class="form-control" placeholder="조직을 입력하세요">
        </div>
        <div>
            <label for="grade">직급</label>
            <input type="text" id="grade" name="grade" class="form-control" placeholder="직급을 입력하세요">
        </div>

        <hr class="my-4">

        <div class="row">
            <div class="col">
                <button class="w-100 btn btn-primary btn-lg" type="submit">멤버 등록</button>
            </div>
            <div class="col">
                <button class="w-100 btn btn-secondary btn-lg"
                        onclick="location.href='member.html'"
                        th:onclick="|location.href='@{/basic/members}'|"
                        type="button">취소</button>
            </div>
        </div>

    </form>

</div> <!-- /container -->
</body>
</html>