<html th:replace="~{/layout/layout :: Applayout(~{::title}, ~{::section})}" xmlns:th="http://www.thymeleaf.org">

<title>전남개발공사 - 멤버 목록</title>

<section class="container">

    <div class="py-2 text-center">
        <h2>멤버 목록</h2>
    </div>


<!--    검색 기능 구현.-->

    <hr class="my-4">
    <div>
        <table class="table">
            <thead>
            <tr>
                <th>ID</th>
                <th>멤버명</th>
                <th>조직</th>
                <th>직급</th>
                <th>보기</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="member : ${members}">
                <td th:text="${member.id}">회원id</td>
                <td th:text="${member.memberName}">멤버명</td>
                <td th:text="${member.group}">10000</td>
                <td th:text="${member.grade}">10</td>
                <td>
                    <button class="btn btn-success float-end" type="button"
                            th:onclick="|location.href='@{/basic/members/{id}(id=${member.id})}'|"
                    >상세보기</button>

<!--                    <button class="w-100 btn btn-secondary btn-lg" type="button" th:case="'USER'"-->
<!--                            th:onclick="|location.href='@{/basic/members}'|">-->
<!--                        조직도 보기-->
<!--                    </button>-->
                </td>

            </tr>
            </tbody>
        </table>
    </div>
</section> <!-- /container -->



</html>
